<div class="fitness-tracker-container">
  <h1>Fitness Tracker</h1>
  <button class="logout-button" (click)="logout()">Logout</button>
  <div class="exercises-container">
    <h2>What exercise did you do today?</h2>
    <div class="exercise-input">
      <select [(ngModel)]="exercises[0].name">
        <option value="" disabled selected>Select an exercise</option>
        <option *ngFor="let exercise of exerciseOptions" [value]="exercise">{{ exercise }}</option>
      </select>
      <input type="number" [(ngModel)]="exercises[0].count" placeholder="Enter duration in minutes" />
    </div>
    <button (click)="submitExercises()">Submit</button>
  </div>

  <!-- <div class="calories-container">
    <h2>No. of calories burned</h2>
    <input type="number" [(ngModel)]="caloriesBurned" />
  </div> -->

  <div class="calories-container">
    <h2>No. of calories burned</h2>
    <p id = "id1">{{ caloriesBurned }}</p> <!-- Display the calories burned -->
  </div>
  

  <div class="exercises-suggested-container" *ngIf="showDetails">
    <h2>List of exercises suggested for you:</h2>
    <ul class="exercises-suggested">
      <li *ngFor="let exercise of answer1.split('\n')">{{ exercise }}</li>
    </ul>
  </div>

  <div class="quotes-container" *ngIf="showDetails">
    <h2>Quote:</h2>
    <div>
      <p>{{ answer2 }}</p>
    </div>
  </div>
</div>
